<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Bomberman Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" ></link>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <script src='./components/block.vue.js'></script>
</head>

<body>

<div class="container">
    <div id="app">

        <h1 class="title">Bomberman Editor</h1>

        <div class="columns">

            <div class="map">
                <div v-for="row, rowKey in output.map" class="row">
                    <div v-for="column, columnKey in row" class="column map-block" v-on:click="changeBlock(rowKey, columnKey)">
                        <block :type="column"></block>
                    </div>
                </div>
            </div>

            <div class="json column is-half">
                <div class="colums">

                    <div class="column">
                        <button class="button is-danger" v-on:click="decreaseSize()">-</button>
                        <input class="currentSize" disabled v-model="output.map.length"/>
                        <button class="button is-success" v-on:click="increaseSize()">+</button>
                    </div> 
                     
                    <div class="column">
                        <button v-on:click="random()" class="button" >Random</a>
                    </div> 

                    <div class="column">
                        <a target="_blanc" download="map.json" :href="downloadData" class="button" >Save</a>
                    </div> 
                                         
                    <div class="column">
                        <input v-on:change="fileUpload($event)" ref="upload" type="file" />
                    </div> 

                </div>
            </div>

        </div>
    </div>
</div>

<script src="main.js"></script>

</body>

<style>
    .map{
        width: 50%;
        background-image: url('img/grass_bg.jpg');
        background-size: cover;
    }
    .row, .column{
        display: flex;
        flex: auto;
    }

    .column{
        cursor: pointer;
        text-decoration: none;
        user-select: none;
    }

    .map-block{
        padding: 1px;
        flex-grow: 1;
        flex-basis: 0;
    }

    
    .map-block img{
        width: 100%;
        height: 100%;
    }

    .currentSize{
        width: 3em;
        text-align: center;
    }

    textarea{
        width: 100%;
    }
</style>

</html>